# --- System Files ---
.DS_Store
Thumbs.db

# --- Environment & Dependencies ---
node_modules/
venv/
env/
.env
.venv
__pycache__/

# --- IDE/Editor Folders ---
.vscode/
.idea/

# --- Build & Logs ---
dist/
build/
*.log